.footer {
    display: flex;
    justify-content: space-between;
    &__block1 {}

    &__block2 {
        display: flex;
        flex-direction: column;
        &-pa{
            display: flex;
        }
    }
    &__nav{
        ul{
            display: flex;
            list-style-type: none;
        }
    }
}