.about {
    display: flex;
    justify-content: center;
    min-height: unset;

    @media (max-width: $px768) {
        justify-content: flex-start;
    }

    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        // gap: 40px;

        @media (max-width: $px1024) {
            align-items: center;
            flex-direction: column;
        }

        @media (max-width: $px768) {
            // margin-top: 55px;
        }
    }

    &__text {
        max-width: 600px;
        margin: auto 0;
        flex: 1;

        @media (max-width: $px1024) {
            width: 100%;
            max-width: unset;
        }

        @media (max-width: $px768) {}

        h2 {
            margin-bottom: 40px;

            @media (max-width: $px480) {
                text-align: center;
            }
        }

        p {
            position: relative;

            @media (max-width: $px480) {
                text-align: center;
            }
        }
    }

    &__image {
        flex: 1;
        max-width: 650px;
        display: flex;
        align-items: center;
        background-color: green;

        @media (max-width: $px1024) {
            max-width: unset;
            width: 100%;
            // max-height: 760px;
        }

        @media (max-width: $px768) {
            max-width: unset;
            margin-top: unset;
            min-height: 500px;
        }

        @media (max-width: $px480) {
            min-height: 400px;
        }

        @media (max-width: $px360) {
            min-height: 300px;
        }
    }

    &__image-col-1 {
        margin-right: 10px;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;

        @media (max-width: $px1024) {
            width: 100%;
            flex: 1;
        }
    }

    &__image-col-2 {
        @media (max-width: $px1024) {
            width: 100%;
            flex: 1;
        }
    }

    &__img1,
    &__img4 {
        @media only screen and (max-width: $px1024) {
            height: 450px;
        }
    }

    &__img2,
    &__img3 {
        @media only screen and (max-width: $px1024) {
            height: 300px;
        }
    }
    img {
        border-radius: 10px;
    }
}